body { height: 100%;} 
html { position:relative; min-height:100%; }
.Main {
    font-family: 'Ubuntu', sans-serif;
    background:white;
    padding-bottom:300px;
    
}
.Main .Head{
    text-align: center;
    margin:0 auto;
    
}

/*Шапка*/
.Main .Adaptive{
    display:none;
}

.Main .Namecent{
	background:url("https://firebasestorage.googleapis.com/v0/b/finalproject-d5d17.appspot.com/o/parfL.jpg?alt=media&token=9bb6879b-98b1-4ed3-bdad-305763783618") center no-repeat;
	background-repeat:no-repeat;
	text-align:center;
}

.Main .Namecent h2 span{
	font-size:85px;
	font-family:"Grand Hotel", cursive;
	letter-spacing:0.12em;
	color:#9c3c76;
	line-height:2;
}
.Main .Namecent h2{
	padding-top:15px;
}

.Main .Namecent .r{
	margin-left:200px;
}
.Main .sideRight{
    top:65px;
    position:absolute;
    right:10px;
}
.Main .Search{
    clear:both;
    width:100%;
    height:70px;
    background-color:rgba(255, 202, 220, 0.4);
}
.Main .Search input{
   width:80%;
   height:20px;
   opacity: 0.5;
   background-color:white;
   border:none;
   margin:15px;
   padding:10px;
   font-size:20px;
   border-radius:15px;
   outline: none;
}
.Main .Search input:hover, .Main .Search input:active {
    opacity: 1;
    outline: none;
 }
.Main .SearchIcon{
    width:40px;
    padding:15px;
    float:right;
    right:40px;
}

.Main .Icons{
    width:60px;
    padding:10px;
}
/*Меню*/
.Main .Computer nav{

    text-align:center;
	height:70px;
	background-color:#9C3C76;
	position:relative;
}
.Main .Computer nav ul li a{
    color:white;
    font-weight:bold;
    text-align: center;
    display: block;
    float:left;
    width:20%;
    font-size:22px;
    box-sizing:border-box;
    padding:10px;
}


.Main .roll{
    display: inline-block;
    overflow: hidden;
    line-height: 36px;
    height: 36px;
    position: relative;
}

.Main .roll span{
    padding:0;
    display: block;
    position: relative;
    top: 7px;
    transition: top .5s ease;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
}

.Main .Computer .hover{
    text-shadow: #631B42 0 0 2px;
    color: #D5C3DD;
    margin-top:5px;
}
.Main .Computer ul.MainMenu li:hover .roll span{
    top: -35px;
}


.Main .Computer .logo{
    width:200px;
    
}




.Main .logoFooter{
    box-sizing: border-box;
    float:left;
    padding:30px;
    width:30%;
}
.Main .logoFooter img{
    float:left;
    
    width:200px;
}
.Main .FooterMenu{
    float:left;
    box-sizing: border-box;
    width:40%;
    padding:30px 0;
    text-align: center;
    font-size:18px;
    font-weight:bold;
    color:#631B42;
}
.Main footer .ComputerFooter a:hover{
    color: #D5C3DD;
}

.Main .ComputerFooter .thirdColomn{
    float:left;
    width:30%;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 22px;
    font-weight:bold;
    color:#631B42;
    padding:30px 0;
    
}
.Main .ComputerFooter .thirdColomn img{
    width:40px;
    margin:20px 10px;
}
.Main .ComputerFooter .thirdColomn:after{
    clear:both;
    content:"";
}
.Main footer {
    background-color:rgba(255, 202, 220, 0.4);
    position:absolute;
    bottom:0px;
    height:200px;
    width:100%;
}
.Main footer:after{
    clear:both;
    display: block;
    content:"";
}
.Main div.load{
    height:500px;
}
.Main footer .AdaptiveFooter{
    display:none;
    width:50%;
    margin:auto;
}
.Main footer .AdaptiveFooter img{
    width:40px;
    margin:10px 30px;
}
.Main footer .AdaptiveFooter span{
    float:left;
    margin:20px;
}

/*Загрузка*/
.Loading{
    margin:200px auto;
    width:65px;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: black;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  
  .Main input{
      outline: none;
  }
  @media screen and  (max-width:800pt) {
    .Main .Namecent{
        text-align:left;
        background:url("https://firebasestorage.googleapis.com/v0/b/finalproject-d5d17.appspot.com/o/parfL.jpg?alt=media&token=9bb6879b-98b1-4ed3-bdad-305763783618") left no-repeat;
    }
    
    .Main .Namecent h2 span{
        font-size:60px;
        font-family:"Grand Hotel", cursive;
        letter-spacing:0.06em;
        color:#9c3c76;
        line-height:2;
    }
    .Main .Namecent h2{
        padding-top:15px;
        margin-left:130px;
    }
    
    .Main .Namecent .r{
        margin-left:0;
    }
    .Main .sideRight{
        top:30px;
        position:absolute;
        right:10px;
    }
    .Main .sideRight img{
        width:50px;
    }
  }
  @media screen  and  (max-width:736pt) { /*от IPHONE 7 plus* горизонтально*/
    .Main .Computer{
        display:none;
    }
    .Main .Adaptive{
        background-color:#631B42;
        display:block;
    }
    .Main .Adaptive .burg{
        padding:25px;
    }
    .Main .close{
        display:none;
    }
    .Main .open{
        display:block;

    }
    .Main .open a{
        font-size:18px;
        letter-spacing: 0.1em;
        display:block;
        padding:20px;
        border:1px solid white;
        color:white;
    }
    .Main .Adaptive .IconsBurg{
        float:right;
        padding:15px;
        width:35px;
    }
    .Main .Adaptive .IconsBurg{
        float:right;
        padding:15px;
        width:35px;
    }
    
    .Main .ComputerFooter{
        display:none;
    }
    .Main footer .AdaptiveFooter{
        display:block;
    }
    .Main footer{
        height:60px;
        
    }
    
  }
  @media screen and (orientation:portrait) and  (max-width:736pt) {
    .Main .open a{
        font-size:30px;
        padding:30px;
        
    }
  }


