.Main {
    font-family: 'Montserrat Alternates', sans-serif;
    background:white;
}
.Main .Head{
    text-align: center;
    margin:0 auto;
    
}
.Namecent{
	background:url("https://firebasestorage.googleapis.com/v0/b/finalproject-d5d17.appspot.com/o/parfL.jpg?alt=media&token=9bb6879b-98b1-4ed3-bdad-305763783618") center no-repeat;
	background-repeat:no-repeat;
	text-align:center;
}

h2 span{
	font-size:80px;
	font-family:"Grand Hotel", cursive;
	letter-spacing:0.12em;
	color:#9c3c76;
	line-height:1.16;
}
h2{
	padding-top:15px;
}

.r{
	margin-left:200px;
}

.Main nav{

    text-align:center;
	height:68px;
	background-color:#ECE2FF;
	position:relative;
}
.Main nav ul li a{
    color:#631B42;
    font-weight:bold;
    text-align: center;
    display: block;
    float:left;
    width:20%;
    font-size:18px;
    box-sizing:border-box;
    padding:10px;
}


.Main .roll{
    display: inline-block;
    overflow: hidden;
    line-height: 36px;
    height: 36px;
    position: relative;
}
.Main .disc{
    display: inline-block;
    overflow: hidden;
    line-height: 18px;
    height: 38px;
    position: relative;
}
.Main .roll span{
    padding:0;
    display: block;
    position: relative;
    top: 2px;
    transition: top .5s ease;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
}

.Main .hover{
    text-shadow: #631B42 0 0 2px;
    color: white;
    margin-top:5px;
}
.Main ul.MainMenu li:hover .roll span{
    top: -40px;
}

    
.Main .logo{
    width:200px;
    
}
.Main .logoFooter{
    float:left;
    width:30%;
}
.Main .FooterMenu{
    float:left;
    width:40%;
}

.Main .thirdColomn{
    float:left;
    width:30%;
}
.Main .thirdColomn:after{
    clear:both;
    content:"";
}
.Main footer{
background-color: beige;
}
.Main footer:after{
    clear:both;
    display: block;
    content:"";
}
.Main div.load{
    height:500px;
}

/*Загрузка*/
.Loading{
    margin:200px auto;
    width:65px;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: black;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  
  