.Main .Head{
    text-align: center;
    margin:0 auto;
    
}

.Main nav ul li a{
    text-align: center;
    display: block;
    float:left;
    width:20%;
    height:55px;
    background-color:lightblue;
    box-sizing:border-box;
    padding:10px;
}
.Main .logo{
    width:200px;
    
}
.Main .logoFooter{
    float:left;
    width:30%;
}
.Main .FooterMenu{
    float:left;
    width:40%;
}

.Main .thirdColomn{
    float:left;
    width:30%;
}
.Main .thirdColomn:after{
    clear:both;
    content:"";
}
.Main footer{
background-color: beige;
}
.Main footer:after{
    clear:both;
    display: block;
    content:"";
}
.Main div.load{
    height:500px;
}

/*Загрузка*/
.Loading{
    margin:200px auto;
    width:65px;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: black;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  
  