.PageCatalog img{
    width:80%;
    
}
.PageCatalog .Product{
    width:100%;
    padding:50px 0;
    text-align: center;
}
.PageCatalog .Product:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.PageCatalog:after{
    clear:both;
    display: block;
    content:"";
}
.PageCatalog .Prod {
    display:grid;
    width:75%;
    grid-template-columns: repeat(3, 1fr);
}