
.PageCatalog:after{
    clear:both;
    display: block;
    content:"";
}

.PageCatalog .Show{
    float:right;
    margin:20px;
    margin-right:40px;

}
.PageCatalog .Show span, .PageCatalog .Pages span{
    padding:0 5px;
    font-size:18px;
    color:#631B42;
}
.PageCatalog .Show span.active, .PageCatalog .Pages span.active{
    font-weight:bold;
    border-bottom: 1px dashed #631B42;

}
.PageCatalog select{
    float:right;
    margin:20px;
    border:none;
    background-color:white;
    padding: 10px;
    font-size:18px;
    outline:none;
    box-shadow: none;
}
.PageCatalog .Pages{
    font-size:20px;
    width:75%;
    float:right;
    text-align: center;
    margin:30px 0;
}

.PageCatalog .Pages span{
    font-size:20px;
    
}

@media screen and (orientation:portrait) and  (max-device-width:736pt) {

    .PageCatalog select{
        float:none;
        margin:10px;
        padding: 10px;
        font-size:30px;
    }
    .PageCatalog .Show span, .PageCatalog .Pages span{
        padding:0 5px;
        font-size:35px;
    }
    .PageCatalog .Pages{
        width:100%;
        text-align: center;
        margin:30px 0;
    }


}
@media screen and  (max-width:650pt) {
  
    .PageCatalog .Pages{
        width:100%;
        text-align: center;
    }
}