.PageLog{
    width:80%;
    margin:auto;

}
.PageLog h2{
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-weight:bold;
    color:#631B42;
    padding:30px 0;
}
.PageLog form{
    padding:20px;
    margin:auto;
    width:300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.PageLog input{
    font-family: 'Ubuntu', sans-serif;
    font-size:18px;
    padding:10px 30px;
    margin:20px 0;
    width:238px;
    border:1px solid #a1a1a1;
    
}
.PageLog input:invalid{
    
    border-left:2px solid red;
    
}
.PageLog input[type="button"]{
    font-family: 'Ubuntu', sans-serif;
    color:white;
    width:100%;
    border-radius:10px;
    background-color:rgba(156, 60, 118, 0.7);
}
.PageLog input[type="button"]:hover{
    background-color:rgba(156, 60, 118, 1);
}
@media screen and (orientation:portrait) and  (max-device-width:736pt) {
    .PageLog{
        width:90%;
    }
    .PageLog h2{
        font-size:35px;
    }
    .PageLog form{
        width:100%;
        box-sizing: border-box;
    }
    .PageLog input{
        width:100%;
        font-size:30px;
        padding:20px 10px;
        box-sizing: border-box;
    }
}