.BrandDesk {
    text-align:center;
    margin:auto;
    margin-bottom:100px;
}
.BrandDesk img {
    width:14%;
    margin:10px;
}
@media screen and (orientation:portrait) and  (max-device-width:736pt) {
    .BrandDesk img {
        width:25%;
        margin:10px;
    }
}