.CityStores{
    float:right;
    width:80%;
}
.CityStores:after{
    clear:both;
    display: block;
    content:"";
}
.CityStores label {
    margin:10px 0;
    display:block;
    
}
.CityStores .left{
    float:left;
}
