
.StoreInfo div{
    font-size:18px;
    margin:20px 0;
}
.StoreInfo div>span{
    font-weight:bold;
    font-size:20px;
    
}
.StoreInfo img{
    margin:0 30px;
    width:500px;
}
@media screen and (orientation:portrait) and  (max-width:736pt) {
    .StoreInfo div{
        font-size:30px;
    }
    .StoreInfo div>span{
        font-size:35px;
        
    }
  }