.PageOrder{
    width: 80%;
    margin:20px auto;
}
.PageOrder h1{
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-weight:bold;
    color:#631B42;
    padding:30px 0;
}
.PageOrder .Variant{
    position: relative;
    height:100%;
    padding:10px;
    margin: auto;
    clear:both;
    text-align: left;
    
}
.PageOrder .adapt{
    display:none;
}
.PageOrder .Variant img{
    float:left;
    width:70px;
    padding:10px;
  
}
.PageOrder .Variant h5{
    font-size: 22px;
    color:rgb(84, 84, 84);
    color:rgba(0, 0, 0, 0.3);
    margin-top:25px;
    margin-bottom:15px;
}
.PageOrder .Prod{
    height:110px;
    border-top:1px solid black;
}

.PageOrder .del{
    opacity: 0;
    height:0px;
    transition-duration: 300ms;
    transition-property: height;
}
.PageOrder .del .Variant{ 
    display:none;
}
.PageOrder h1+.Prod{
    border-top:1px solid white;
}


.PageOrder .comp .order{
    float:right;
    margin:30px 0;
    overflow: hidden;
}
.PageOrder .order .Delete, .PageOrder .Message, .PageOrder .MakeOrder {
    font-family: 'Ubuntu', sans-serif;
    color:white;
    border-radius:10px;
    font-size:18px;
    padding:10px 30px;
}
.PageOrder  .Delete, .PageOrder  .Message {
    float:right;
}
.PageOrder .adapt .Delete, .PageOrder .adapt .Message {
    font-size:35px;
    border-radius: 15px;
    width:250px;
    padding:20px 0;
    margin-right:30px;
}

.PageOrder .MakeOrder{
    margin:100px auto 20px;
    clear:both;
    display:block;
    background-color:rgba(156, 60, 118, 0.7);
}
.PageOrder .MakeOrder:hover{
    background-color:rgba(156, 60, 118, 1);
}
.PageOrder .order .Delete{
    background-color:rgba(156, 60, 118, 0.7);
}
.PageOrder .Message{
    margin:35px 0;
    background-color:rgba(213, 195, 221, 0.7);
    
}
.PageOrder .comp .Delete:hover{
    background-color:rgba(156, 60, 118, 1);
}
.PageOrder .comp .Message:hover{
    background-color:#81597E;
}
.PageOrder  .comp .buttons {
    float:right;
    margin:0 10px;
}
.PageOrder  .adapt .buttons {
    margin:auto;
    padding:0 20px;
    width:240px;
}

.PageOrder .buttons{
    padding:0 10px 0 10px;
    border-bottom:2px solid #9C3C76;

}
.PageOrder .order .buttons span{
    font-size:30px;
}
.PageOrder .order input[type="number"]{
    border:none;
    outline:none;
    text-align: center;
} 
.PageOrder .comp input[type="number"]{
    width:70px;
    font-size:18px;
    margin:10px 5px 8px 5px;
} 
.PageOrder .adapt input[type="number"]{
    width:160px;
    font-size:30px;
    margin:20px 10px;
} 

/* Убирает стрелочки */
.PageOrder .order input::-webkit-outer-spin-button,
.PageOrder .order input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.PageOrder .order input[type='number'] {
    -moz-appearance: textfield;
}
@media screen  and  (max-width:736pt) {
    .PageOrder{
        width:100%;
    }
}
@media screen and (orientation:portrait) and  (max-device-width:736pt) {
    .PageOrder .MakeOrder{
        position:absolute;
        bottom:60px;
        margin:0;
        font-size:35px;
        border-radius: 15px;
        width:100%;
        padding:40px 0;
    }
    .PageOrder .comp {
        display:none;
    }
    .PageOrder .adapt {
        display:block;
        
    }
    .PageOrder .Prod {
        height:360px;
        
    }
    
    .PageOrder .Variant p{
        margin-top:50px;
        font-size:30px;
    }
    .PageOrder .Variant{
        height:300px;
    }
    
    .PageOrder .Variant img{
        width:300px;

    }
    .PageOrder .del{
        opacity: 0;
        height:0px;
        transition-duration: 300ms;
        transition-property: height;
    }
    .PageOrder .del .Variant{ 
        display:none;
    }
    .PageOrder .adapt input[type="number"]{
        box-sizing:border-box;
        width:80%;
        font-size:30px;

    } 
    .PageOrder .order .buttons span{
        font-size:30px;
        box-sizing:border-box;
        width:10%;
    }
}